  {{!-- <body class="ov-hid"> --}}
    {{!-- <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header header--normal">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="./index.html"
                ><img
                  src="./img/listing/foreslogo.png"
                  width="210"
                  height="60"
                  alt=""
              /></a>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="header__nav">
              <nav class="header__menu mobile-menu">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/announcementsUser">Announcements</a></li>
                </ul>
              </nav>
              <div class="header__menu__right">
                <a href="/announcements/add" class="primary-btn"
                  ><i class="fa fa-plus"></i> Create Announcement</a
                >
                <a href="/users/logout" class="btn btn-danger btn mr-3" style="padding: 10px 30px 7px;"
                  ><i class="fa fa-sign-out"></i> Logout</a
                > 
                <a href="/users/profile" class="login-btn"><i class="fa fa-user"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header> --}}
    <!-- Header Section End -->

    <!-- Filter Begin -->
 
   <div class="row">
    <div class="col-md-4 mx-auto my-5">
        <div class="card">
            <div class="card-header text-center">
                My Profile
            </div>
            <img src="/img/hero/private-account.png" class="rounded-circle mx-auto d-block m-4 logo" alt="">
            <div class="card-body" style="color: #747271;">
                <strong >id</strong>: {{ _id}}<br>
                  <strong>Email</strong>: {{email}}<br>
                  <strong>Password</strong>: {{password}}<br>
                  <strong>Name</strong>: {{name}}<br>
                  <strong>Cellphone</strong>: {{cellphone}}<br>
            </div>
            <hr>
					<div class="text-center">
						<p> This is my profile</p>
					
					</div>
        </div>
    </div>
</div>

  