
    <!-- Hero Section Begin -->
    <section class="hero set-bg" data-setbg="img/hero/hero-bg.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="hero__text">
              <div class="section-title">
                <h1>ForesTHUB</h1>
                <p></p>
              </div>
              <div class="hero__search__form">
                <form action="#">
                  <input type="text" placeholder="Search..." />
                  <div class="select__option">
                    <select>
                      <option value="">Choose Category</option>
                    </select>
                  </div>
                  <div class="select__option">
                    <select>
                      <option value="">Choose location</option>
                    </select>
                  </div>
                  <button type="submit">Let's explore</button>
                </form>
              </div>
              <ul class="hero__categories__tags">
                <li>
                  <a href="#"
                    ><img src="img/hero/semilla.png" alt="" /> Seeds</a
                  >
                </li>
                <li>
                  <a href="#"><img src="img/hero/abono.png" alt="" /> Manure</a>
                </li>
                <li>
                  <a href="#"
                    ><img src="img/hero/plantas.png" alt="" /> Plants</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img src="img/hero/fertilizante.png" alt="" />
                    Fertilizer</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img src="img/hero/matera.png" alt="" /> Flower Pots</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img src="img/hero/utilidades.png" alt="" /> Utilities</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img src="img/hero/hierba.png" alt="" /> Cannabis
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->

    <!-- Most Search Section Begin -->
    <section class="most-search spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Our best announcements</h2>
              <p>
                In this section you will find the best announcements
              </p>
            </div>
          </div>
        </div>

        <!-- comienzo del div parte de las ofertas-->
        <div class="row">
          <!-- comienzo del div parte de las ofertas-->
          <div class="col-lg-12">
            <div class="tab-content">
              <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="row">
                  {{#each announcements}}
                  <div class="col-lg-4 col-md-6">
                    <div class="listing__item">
                      <div
                        class="listing__item__pic set-bg"
                        data-setbg="{{image}}"
                      >
                        <img src="img/listing/semilla.png" alt="" />
                        <div class="listing__item__pic__tag">{{category.name}}</div>
                      </div>
                      <div class="listing__item__text">
                        <div class="listing__item__text__inside">
                          <h5>{{title}}</h5>
                          <div class="listing__item__text__rating">
                            <div class="listing__item__rating__star">
                              <span class="icon_star"></span>
                              <span class="icon_star"></span>
                              <span class="icon_star"></span>
                              <span class="icon_star"></span>
                              <span class="icon_star-half_alt"></span>
                            </div>
                            <h6>${{price}}</h6>
                          </div>
                          <ul>
                            <li>
                              <span class="icon_pin_alt"></span> {{latitude}}  {{longitude}}
                            </li>
                            <li>
                              <span class="icon_phone"></span> {{user.name}}
                            </li>
                          </ul>
                        </div>
                        <div class="listing__item__text__info">
                          <div class="listing__item__text__info__left">
                            <img src="img/listing/semillapeque.png" alt="" />
                            <span>Disponible</span>
                          </div>
                          <div class="listing__item__text__info__right">
                            {{state}}
                          </div>
                        </div>
                      </div>
                            <a href="/announcements/view/{{_id}}" class="btn btn-primary btn-block">View</a>
                    </div>
                   
                  </div>
                   {{/each}}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Most Search Section End -->

    <!-- Work Section Begin -->

    <!-- Work Section End -->

    <!-- Feature Location Section Begin -->

    <!-- Feature Location Section End -->

    <!-- Testimonial Section Begin -->

    <!-- Testimonial Section End -->

    <!-- Blog Section Begin -->

    <!-- Blog Section End -->

    <!-- Newslatter Section Begin -->

    <!-- Newslatter Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer__about">
              <p>
                la comunidad forestHUB esta para apoyar el autocultivo
                responsable de calquier tipo de planta y presta sus servicios
                para que las personas puedan hacer un comercio mucho más
                sencillo y seguro.
              </p>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 col-md-6">
            <div class="footer__address">
              <ul>
                <li>
                  <span>Servicio al cliente:</span>
                  <p>(+57) 01800-678-910</p>
                </li>
                <li>
                  <span>Email:</span>
                  <p>soyforesthub@gmail.com</p>
                </li>
                <li>
                  <span>power by:</span>
                  <p>wedHub</p>
                </li>
                <li>
                  <span>Siguenos:</span>
                  <div class="footer__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6">
            <div class="footer__widget">
              <ul>
                <li><a href="#">Semillas</a></li>
                <li><a href="#">Abono</a></li>
                <li><a href="#">Plantas</a></li>
                <li><a href="#">Fertilizantes</a></li>
                <li><a href="#">Materas</a></li>
                <li><a href="#">Utilidades</a></li>
                <li><a href="#">Canabis</a></li>
              </ul>
              <ul>
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Ingresar</a></li>
                <li><a href="#">Publicar anuncio</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer__copyright">
              <div class="footer__copyright__text"></div>
              <div class="footer__copyright__links">
                <a href="#">Terminos y condiciones</a>
                <a href="#">Politicas de privacidad</a>
                <a href="#">politicas de cookies</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->
</body>