<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Directing Template" />
    <meta name="keywords" content="Directing, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/barfiller.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body class="ov-hid">
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header header--normal">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="./index.html"
                ><img
                  src="./img/listing/foreslogo.png"
                  width="210"
                  height="60"
                  alt="logo de sebas"
              /></a>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="header__nav">
              <nav class="header__menu mobile-menu">
                <ul>
                  <li><a href="./index.html">Inicio</a></li>
                  <li><a href="./listing.html">Listing</a></li>
                </ul>
              </nav>
              <div class="header__menu__right">
                <a href="#" class="primary-btn"
                  ><i class="fa fa-plus"></i> Publicar anuncio</a
                >
                <a href="/logout" class="btn btn-danger btn mr-3" style="padding: 10px 30px 7px;"
                  ><i class="fa fa-sign-out"></i> Logout</a
                > 
                <a href="#" class="login-btn"><i class="fa fa-user"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Filter Begin -->
    <div class="filter nice-scroll center-block" style="width: 60%; left: 20%; padding-top: 29%; top: -35%;">
        <div class="row">

            <!-- INFORMATION -->
            <div style="width: 100%;">
            <div class="well">
            <h3 style="text-align: center;"><span class="fa fa-user"></span> Información usuario</h3>
            
            <div style="text-align: left; margin-left: 19%;"> 
            <br>
            <div class="row">
                <!-- <div class="col-sm-2">
                    <strong>Id</strong><br>
                    <strong>Email</strong><br>
                    <strong>Password</strong><br>
                    <strong>Name</strong><br>
                    <strong>Nickname</strong>
                </div> -->
                <div class="col-sm-4" style="color: #747271;">
                  <strong>id</strong>: <%= user._id %><br>
                  <strong>email</strong>: <%= user.local.email %><br>
                  <strong>password</strong>: <%= user.local.password %><br>
                  <strong>name</strong>: <%= user.local.name %><br>
                  <strong>nicknamea</strong>: <%= user.local.nick %>
                </div>
              </div>

            </div>
  
            </div>
            </div>
            
        </div>

    </div>
    <!-- Filter End -->

    <!-- Listing Section Begin -->

    <!-- Listing Section End -->

    <!-- Map Begin -->

    <!-- Map End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
